.routeselectionpaneltitlecontainer {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  width: "97%";
}

.routeselectionpanellistcontainer {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  height: 600px;
  max-height: 100%;
}
