.cruisestable {
  width: 94%;
  margin-left: 20px;
  margin-right: 20px;
  border-spacing: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  font-size: 13px;
}

table.cruisestable tr:hover {
  background-color: #ebeccd;
}

th,
td {
  height: 34px;
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

th,
td:last-child {
  border-right: 0;
}

.widgetLgTh {
  /* text-align: left; */
  font-size: 14px;
}
